@import '../../styles/variables.scss';

.navigation {
  position: fixed;
  top: 0;
  left: -250px; // Start off-screen
  width: 250px;
  height: 100%;
  background-color: $background-color;
  transition: left 0.3s ease-in-out;
  z-index: 1000;
  overflow-y: auto; // Allow scrolling if content is too long
  padding-top: 80px; // Adjust this value based on your header height
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);

  &.open {
    left: 0; // Slide in when open
  }

  .navigation-menu {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin-bottom: 5px;
    }

    .navigation-item {
      display: flex;
      align-items: center;
      padding: 0.75rem 1rem;
      color: $secondary-color;
      text-decoration: none;
      transition: background-color 0.3s, color 0.3s;
      border-left: 4px solid transparent;

      &:hover {
        background-color: lighten($background-color, 10%);
        color: $accent-color;
      }

      &.active {
        background-color: lighten($background-color, 15%);
        color: $accent-color;
        border-left-color: $accent-color;
      }

      .navigation-icon {
        width: 20px;
        height: 20px;
        margin-right: 1rem;
        fill: currentColor;
      }

      .navigation-text {
        font-size: 14px;
        font-weight: 500;
      }
    }
  }
}

@media (max-width: 768px) {
  .navigation {
    left: -100%;
    width: 100%;
    max-width: 250px;

    &.open {
      left: 0;
    }
  }
}