@import '../../styles/variables.scss';

.navigation {
  position: fixed;
  top: 0;
  left: -250px; // Start off-screen
  width: 250px;
  height: 100%;
  background-color: $background-color;
  transition: left 0.3s ease-in-out;
  z-index: 1000;
  overflow-y: auto; // Allow scrolling if content is too long
  padding-top: 60px;

  &.open {
    left: 0; // Slide in when open
  }

  .navigation-menu {
    list-style: none;
    padding: 20px 0; // Add some padding at the top and bottom
    margin: 0;

    .navigation-item {
      display: flex;
      align-items: center;
      padding: 1rem;
      color: $secondary-color;
      text-decoration: none;
      transition: background-color 0.3s, color 0.3s;

      &:hover {
        background-color: lighten($background-color, 10%);
        color: $accent-color;
      }

      &.active {
        background-color: lighten($background-color, 15%);
        color: $accent-color;
      }

      .navigation-icon {
        width: 24px;
        height: 24px;
        margin-right: 1rem;
        fill: currentColor;
      }

      .navigation-text {
        font-size: 16px;
      }
    }
  }
}